img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption-hack img {
    margin-bottom: -30px;
}

.marks {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vega-embed.has-actions {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
